* {
    box-sizing: border-box;
}

.simpleform {
    /*Mobile*/
    position: relative;
    width: 85%;
    height: auto;
    color: #595959;
    background-color: #E9E9E9;
    padding: 40px;
    margin: auto auto 50px auto;
    border: solid 2px transparent;
    -webkit-border-image: -webkit-linear-gradient(-45deg, #595959 0%, #bfbfbf 50%, #595959 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, #595959 0%, #bfbfbf 50%, #595959 100%);
    border-image: linear-gradient(-45deg, #595959 0%, #bfbfbf 50%, #595959 100%) 1;
    outline: solid 3px #E9E9E9;
    box-shadow: 5px 5px 6px white;
    opacity: 0.95;
    transition: opacity 1s, min-height 0.5s, background-color 0.4s, width 0.4s;
}

.simpleform:hover {
    transition: opacity 0.5s;
    opacity: 1;
}

.sf-row::after {
    display: table;
    clear: both;
    content: "";
}

[class*="sf-col-"] {
    /* width for mobile */
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
}

/* For desktop: */
@media only screen and (min-width: 520px) {
    .simpleform {
        width: 60%;
    }

    .simpleform.wide {
        width: 70%;
    }

    .simpleform.wider {
        width: 80%;
    }

    .simpleform h1 {
        letter-spacing: 14px;
        margin: 0 0 1.6em 0;
    }

    [class*="sf-col-"] {
        padding: 0 10px 0 0;
    }

    [class*="sf-col-"]:last-of-type {
        padding: 0;
    }

    .sf-col-100 {
        width: 100%;
    }

    .sf-col-66 {
        width: 66.66%;
    }

    .sf-col-75 {
        width: 75%;
    }

    .sf-col-50 {
        width: 50%;
    }

    .sf-col-33 {
        width: 33.33%;
    }

    .sf-col-25 {
        width: 25%;
    }
}

@media screen and (min-width: 768px){
    .simpleform {
        width: 40%;
    }

    .simpleform.wide {
        width: 50%;
    }

    .simpleform.wider {
        width: 60%;
    }

}

@media only screen and (min-width: 1200px) {
    .simpleform {
        width: 20%;
    }

    .simpleform.wide {
        width: 30%;
    }

    .simpleform.wider {
        width: 40%;
    }
}

.simpleform.red {
    color: firebrick;
    background: #e9e0dd;
    -webkit-border-image: -webkit-linear-gradient(-45deg, firebrick 0%, #e02626 50%, firebrick 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, firebrick 0%, #e02626 50%, firebrick 100%);
    border-image: linear-gradient(-45deg, firebrick 0%, #e02626 50%, firebrick 100%) 1;
    /*border-color: firebrick;*/
}

.simpleform.orange {
    color: darkorange;
    background: #f4eeeb;
    border-image: -webkit-linear-gradient(-45deg, darkorange 0%, #ffc700 50%, darkorange 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, darkorange 0%, #ffc700 50%, darkorange 100%);
    border-image: linear-gradient(-45deg, darkorange 0%, #ffc700 50%, darkorange 100%) 1;
    /*border-color: darkorange;*/
}

.simpleform.yellow {
    color: #ddac10;
    background: #e9e9e9;
    border-image: -webkit-linear-gradient(-45deg, #e9bb22 0%, #ffe92f 50%, #e9bb22 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, #e9bb22 0%, #ffe92f 50%, #e9bb22 100%);
    border-image: linear-gradient(-45deg, #e9bb22 0%, #ffe92f 50%, #e9bb22 100%) 1;
    /*border-color: #e9c23a;*/
}

.simpleform.green {
    color: seagreen;
    background: #e2e9d9;
    border-image: -webkit-linear-gradient(-45deg, seagreen 0%, #37c385 50%, seagreen 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, seagreen 0%, #37c385 50%, seagreen 100%);
    border-image: linear-gradient(-45deg, seagreen 0%, #37c385 50%, seagreen 100%) 1;
    /*border-color: seagreen;*/
}

.simpleform.blue {
    color: steelblue;
    background-color: #E9E9E9;
    border-image: -webkit-linear-gradient(-45deg, steelblue 0%, #4fade8 50%, steelblue 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, steelblue 0%, #4fade8 50%, steelblue 100%);
    border-image: linear-gradient(-45deg, steelblue 0%, #4fade8 50%, steelblue 100%) 1;
    /*border-color: steelblue;*/
}

.simpleform.purple {
    color: darkorchid;
    background-color: #e9e3e0;
    border-image: -webkit-linear-gradient(-45deg, darkorchid 0%, #d640ff 50%, darkorchid 100%);
    -moz-border-image: -moz-linear-gradient(-45deg, darkorchid 0%, #d640ff 50%, darkorchid 100%);
    border-image: linear-gradient(-45deg, darkorchid 0%, #d640ff 50%, darkorchid 100%) 1;
    /*border-color: darkorchid;*/
}

.simpleform h1 {
    font-family: inherit;
    font-weight: 200;
    text-align: center;
    letter-spacing: 8px;
}

/* Start general Input rules: */
.simpleform input {
    width: 100%;
    height: 1.6em;
    text-indent: 10px;
    margin: 10px 0;
    border: 1px solid #737373;
    transition: box-shadow 2s;
}

.simpleform input:focus {
    box-shadow: 0 6px 6px -4px #b9b9b9;
    transition: box-shadow 0.8s ease;
}

.simpleform input[type="radio"] {
    width: auto;
    height: 1.1em;
    margin: 10px 20px;
    box-shadow: none;
}
/* End general Input rules */

/* Start colors Input rules: */
.simpleform input.red {
    border: 1px solid #ff6250;
}

.simpleform input.orange {
    border: 1px solid #ffab5c;
}

.simpleform input.yellow {
    border: 1px solid #ffe40a;
}

.simpleform input.green {
    border: 1px solid #5eff5b;
}

.simpleform input.blue {
    border: 1px solid #55a1ff;
}

.simpleform input.purple {
    border: 1px solid #5774ff;
}
/* End colors Input rules */

/* Start general Button rules: */
.simpleform button {
    width: 100%;
    padding: 6px 0;
    margin-top: 1.6em;
    color: white;
    background-color: #636361;
    border: 2px solid white;
    outline: 2px solid #636361;
    box-shadow: none;
    transition: background-color 1s, box-shadow 0.3s;
}

.simpleform button:hover {
    background-color: #505050;
    box-shadow: 0 10px 10px -6px #aeaeae;
    transition: background-color 1s, box-shadow 0.6s;
}

.simpleform button:active {
    transition: box-shadow 0.5s ease;
}
/* End general Button rules */

/* Start Red Button rules: */
.simpleform button.red {
    background-color: #ff6250;
    outline: 2px solid #ff6250;
}

.simpleform button.red:hover {
    background-color: #ff362f;
    box-shadow: 0 10px 10px -6px #bda29c;
}
/* End Red Button rules */

/* Start Orange Button rules: */
.simpleform button.orange {
    background-color: #ffab5c;
    outline: 2px solid #ffab5c;
}

.simpleform button.orange:hover {
    background-color: #ff7c38;
    box-shadow: 0 8px 10px -6px #bdb293;
}
/* End Orange Button rules */

/* Start Yellow Button rules: */
.simpleform button.yellow {
    background-color: #ffd73a;
    outline: 2px solid #ffd73a;
    color: #5e5e5e;
}

.simpleform button.yellow:hover {
    background-color: #e9c23a;
    box-shadow: 0 10px 10px -6px #babd8e;
}
/* End Yellow Button rules */

/* Start Green Button rules: */
.simpleform button.green {
    background-color: MediumSeaGreen;
    outline: 2px solid #5eff5b;
}

.simpleform button.green:hover {
    background-color: #48d16e;
    box-shadow: 0 10px 10px -6px #97bd9a;
}
/* End Green Button rules */

/* Start Blue Button rules: */
.simpleform button.blue {
    background-color: #55a1ff;
    outline: 2px solid #55a1ff;
}

.simpleform button.blue:hover {
    background-color: #5774ff;
    box-shadow: 0 10px 10px -6px #a6b9bd;
}
/* End Blue Button rules */

/* Start Purple Button rules: */
.simpleform button.purple {
    background-color: #a983ff;
    outline: 2px solid #a983ff;
}

.simpleform button.purple:hover {
    background-color: #7658ff;
    box-shadow: 0 10px 10px -6px #a5a4bd;
}
/* End Purple Button rules */

/* Start general Checkbox rules:*/
.simpleform input[type="checkbox"] + label {
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 0 0;
}

.simpleform input[type='checkbox'] {
    /* Hide the browser checkbox: */
    display: none;
}

.simpleform label input[type='checkbox'] {

}

.simpleform label input[type='checkbox']::after {

}

.simpleform input[type='checkbox'] + label::before,
.simpleform input[type='checkbox']::before {
    display: inline-block;
    content: "";
    font-size: smaller;
    text-indent: -1px;
    width: 12px;
    height: 12px;
    padding-left: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    color: white;
    background-color: white;
    transition: background-color 0.4s;
}

.simpleform input[type='checkbox']:checked + label::before,
.simpleform input[type='checkbox']:checked::before {
    content: "\2714";
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background-color: #636361;
    transition: background-color 0.4s;
}
/* End general Checkbox rules */

/* TODO: Add checkbox colors*/

.simpleform input[type='checkbox'].blue + label::before,
.simpleform input[type='checkbox'].blue::before {
    border: 1px solid #55a1ff;
}

.simpleform input[type='checkbox'].blue:checked + label::before,
.simpleform input[type='checkbox'].blue:checked::before {
    border: 2px solid #4fade8;
    background-color: steelblue;
}

p {
    display: inline-block;
    color: #5f5f5f;
    font-size: 12px;
    transition: color 1.5s;
}

p:hover {
    transition: color 1s;
    color: black;
}

.simpleform .badRequest {
    display: none;
    color: red;
    margin: 0 0 12px 0;
}
