body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(0deg, rgba(192, 192, 192, 0.2), rgba(192, 192, 192, 0.2)), url("background.jpeg") no-repeat center center fixed;
    background-size: cover;
    overflow: auto;
    transition: background 0.8s;
}

#fork-in-gitlab-banner {
    display: none;
}

.example-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 200%;
    font-weight: 100;
    letter-spacing: 10px;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px 0;
    color: #b1b1b1;
    text-align: center;
}

.slider {
    font-size: 1.2em;
    display: none;
    position: relative;
    max-width: 80%;
    height: auto;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    color: grey;
    background-color: #E9E9E9;
    border: solid 2px #636361;
    outline: solid 3px #E9E9E9;
    box-shadow: 5px 5px 6px white;
    transition: opacity 1s, min-height 0.5s, right 0.4s;
}

.slider:first-of-type {
    display: block;
    position: fixed;
    margin: auto;
}

#credits {
    font-size: 1.6em;
    font-weight: 200;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 100%;
    color: #ff8031;
    background-color: rgba(255, 255, 255, 0.65);
}

#credits a {
    color: inherit;
    text-decoration: none;
}

#credits a:first-of-type img {
    width: 128px;
    border-radius: 50%;
}

#credits a:last-of-type img {
    width: 64px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .example-title {
        font-size: 300%;
        margin: 1em 0 1.4em 0;
    }

    .slider {
        width: 40%;
        display: block;
        position: fixed;
        right: -20%;
        top: 220px;
        opacity: 0.4;
    }

    .slider:last-of-type {
        top: 550px;
    }

    .slider:hover {
        opacity: 1;
        right: 0;
        transition: opacity 0.6s, min-height 0.5s, right 0.4s;

    }

    #preview-circle {
        width: 100px;
        height: 100px;
        vertical-align: middle;
    }

    #fork-in-gitlab-banner {
        display: block;
        position: fixed;
        width: 180px;
        top: 0;
        right: 0;
        opacity: 0.6;
        z-index: 99;
        transition: transform .6s, opacity .5s;
    }

    #fork-in-gitlab-banner:hover {
        opacity: 1;
        transform: scale(1.1);
        transition: transform 1s, opacity .5s;
    }

    #credits a:first-of-type img {
        width: 240px;
    }

    #credits a:last-of-type img {
        width: 96px;
    }
}

@media only screen and (min-width: 1200px) {
    .slider {
        right: -10%;
        width: 20%;
    }
}

.slider input[type="range"] {
    display: block;
    margin: 0 auto 10px auto;
}

.slider:last-of-type {
    color: #888888;
}

.circle {
    font-size: 1.2em;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #5A5A5A;
    text-align: center;
    vertical-align: top;
    transition: transform 180ms, border-radius 180ms;
}

.circle:hover {
    border-radius: 25%;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.6s, border-radius 0.45s;
    transition-delay: 0.6s;
}

.circle.red {
    background-image: linear-gradient(-45deg, #ff6250 0%, #ffa594 50%, #ff6250 100%);
}
.circle.orange {
    background-image: linear-gradient(-45deg, #ffab5c 0%, #ffd29d 50%, #ffab5c 100%);
}
.circle.yellow {
    background-image: linear-gradient(-45deg, #ffe40a 0%, #fff68d 50%, #ffe40a 100%);
}
.circle.green {
    background-image: linear-gradient(-45deg, #5eff5b 0%, #b8ffa5 50%, #5eff5b 100%);
}
.circle.blue {
    background-image: linear-gradient(-45deg, #55a1ff 0%, #9ee0ff 50%, #55a1ff 100%);
}
.circle.purple {
    background-image: linear-gradient(-45deg, #a983ff 0%, #d9c4ff 50%, #a983ff 100%);
}

